<router-outlet />

<div class="container">
  <div class="chart-container">
    <canvas #churnedUsers="base-chart" baseChart [data]="churnedUsersBySubscriptionTypeConfig.data"
      [type]="churnedUsersBySubscriptionTypeConfig.type" [options]="churnedUsersBySubscriptionTypeConfig.config">
    </canvas>
  </div>

  <div class="chart-container">
    <canvas #devices="base-chart" baseChart [data]="devicesConfig.data" [type]="devicesConfig.type"
      [options]="devicesConfig.config">
    </canvas>
  </div>
  <div class="chart-container-x2">
    <canvas #favGenre="base-chart" baseChart [data]="favoriteGenreConfig.data" [type]="favoriteGenreConfig.type"
      [options]="favoriteGenreConfig.config">
    </canvas>
  </div>
  <div class="chart-container">
    <canvas #paymentMethods="base-chart" baseChart [data]="paymentMethodsConfig.data" [type]="paymentMethodsConfig.type"
      [options]="paymentMethodsConfig.config">
    </canvas>
  </div>
</div>
<div class="filter-container">
  <input type="text" placeholder="Filter by id: U100002" [(ngModel)]="countryFilter" />
  <button type="button" class="filter-button" (click)="applyCountryFilter()">Apply Filter</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>user<br />id</th>
      <th>age</th>
      <th>gender</th>
      <th>country</th>
      <th>account<br />age<br />months</th>
      <th>subscription<br />type</th>
      <th>monthly<br />fee</th>
      <th>payment<br />method</th>
      <th>primary<br />device</th>
      <th>favorite<br />genre</th>
      <th>avg<br />watch<br />time<br />minutes</th>
      <th>watch<br />sessions<br />per<br />week</th>
      <th>binge<br />watch<br />sessions</th>
      <th>days<br />since<br />last<br />login</th>
      <th>churned</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of $users | async">
      <td>{{ user.user_id }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.country }}</td>
      <td>{{ user.account_age_months }}</td>
      <td>{{ user.subscription_type }}</td>
      <td>{{ user.monthly_fee }}</td>
      <td>{{ user.payment_method }}</td>
      <td>{{ user.primary_device }}</td>
      <td>{{ user.favorite_genre }}</td>
      <td>{{ user.avg_watch_time_minutes }}</td>
      <td>{{ user.watch_sessions_per_week }}</td>
      <td>{{ user.binge_watch_sessions }}</td>
      <td>{{ user.days_since_last_login }}</td>
      <td>{{ user.churned }}</td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <button type="button" (click)="loadPreviousPage()">Previous</button>
  <button type="button" (click)="loadNextPage()">Next</button>
</div>
